@model GuildCars.UI.Models.EditVehicleViewModel
@{
    ViewBag.Title = "EditVehicle";
    
}

<div class="container">
    <br />
    <h2>Edit Vehicle</h2>
    <br />
    
        @using (Html.BeginForm("EditVehicle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddListing" }))
        {

            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.vehicle.VehicleID);
            <div class="row">
                <div class="form-group col-sm-4">
                    <label><strong>Make</strong></label>
                    @Html.DropDownListFor(m => m.VehicleMakeID, Model.Make, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-4">
                    <label><strong>Model</strong></label>
                    @Html.DropDownListFor(m => m.vehicle.VehicleMakeModelID, Model.Model, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label><strong>Type</strong></label>
                    @Html.DropDownListFor(m => m.vehicle.VehicleTypeID, Model.Type, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-4">
                    <label><strong>Body Style</strong></label>
                    @Html.DropDownListFor(m => m.vehicle.VehicleBodyTypeID, Model.BodyStyle, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label><strong>Year</strong></label>
                    @Html.TextBoxFor(m => m.vehicle.VehicleMakeYear, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-4">
                    <label><strong>Transmission</strong></label>
                    @Html.DropDownListFor(m => m.vehicle.VehicleTransmissionTypeID, Model.Trans, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label><strong>Color</strong></label>
                    @Html.DropDownListFor(m => m.vehicle.VehicleExteriorColorID, Model.ExteriorColor, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-4">
                    <label><strong>Interior</strong></label>
                    @Html.DropDownListFor(m => m.vehicle.VehicleInteriorColorID, Model.InteriorColor, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label><strong>Mileage</strong></label>
                    @Html.TextBoxFor(m => m.vehicle.VehicleMileage, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-4">
                    <label><strong>VIN # </strong></label>
                    @Html.TextBoxFor(m => m.vehicle.VehicleVinNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label><strong>MSRP</strong></label>
                    @Html.TextBoxFor(m => m.vehicle.VehicleMSRP, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-4">
                    <label><strong>Sale Price</strong></label>
                    @Html.TextBoxFor(m => m.vehicle.VehicleSalePrice, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label><strong>Description</strong></label>
                    @Html.TextAreaFor(m => m.vehicle.VehicleDescription, new { @class = "form-control col-sm-7", style = "height:200px" })
                </div>
            </div>
            <img src="@Url.Content("~/Images/" + Model.vehicle.VehicleImageFileName)" />
            <div class="row">
                <div class="form-group  col-sm-12">
                    <label><strong>Replace Picture</strong></label>
                    <input id="ImageUpload" name="ImageUpload" type="file" class="form-control" />
                </div>
            </div>
            <div class="checkbox">
                <label><strong>
                        @Html.CheckBoxFor(m => m.vehicle.VehicleOnFeaturedList) Feature this vehicle
                       </strong></label>
            </div>
            <div class="row">
                <button class="btn btn-danger">@Html.ActionLink("Delete", "DeleteVehicle", "Admin", new { id = Model.vehicle.VehicleID }, new { onclick = "return confirm('Are you sure you wish to delete this vehicle?');" })</button>
                <button class="btn btn-primary">Save</button>
            </div>

        }
    
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            
            $("#makeID").change(function (e) {
                GetModel();
                return false;

            });
            function GetModel() {
                $('#vehicle_VehicleMakeModelID').empty();
                var params;
                params = 'makeID=' + $('#makeID').val();

                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:57886/api/Inventory/GetModel?' + params,
                    success: function (results) {

                        $.each(results, function (index, models) {
                            $("#vehicle.VehicleMakeModelID").append($("<option></option>").val(models.VehicleMakeModelID).html(models.VehicleModelDesc));
                        })
                    },
                    error: function () {
                        alert('Error performing search, try again later...')
                    }



                });




            }


        });
    </script>
}


