@model GuildCars.UI.Models.VehicleMakeViewModel
@{
    ViewBag.Title = "Makes";
}


<div class="container">
    <br />
    <h2>Makes</h2>
    <div class="container" style="border:solid">
        @using (Html.BeginForm("Makes", "Admin", FormMethod.Post))
        {
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row">
                <div class="form-inline">
                    <label class="col-sm-4"><strong>New Make</strong></label>
                    @Html.TextBoxFor(m => m.newMake.VehicleMakeDesc, new { @class = "form-control col-sm-6" })
                    <div class="form-inline col-sm-2">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        }
        <br />
    </div>

    <br />
    <div class="container">
        <div class="row">
            <table class="table-bordered table-striped" style="border:3px solid black" cellpadding="10">
                <tr style="background-color:lightgray">
                    <th>Make</th>
                    <th>Date Added</th>
                    <th>User</th>
                </tr>
                @foreach (var m in Model.vehicleMakes)
                {
                    <tr>
                        <td>@m.Make</td>
                        <td>@m.DateAdded</td>
                        <td>@m.Email</td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>
