@model GuildCars.UI.Models.SpecialsViewModel
@{
    ViewBag.Title = "Specials";
}

<div class="container">
    <br />
    <h2>Specials</h2>

    <div class="container" style="border:solid">
        <div class="row" style="width:auto">
            <div class="col-sm-6">
                @using (Html.BeginForm("Specials", "Admin", FormMethod.Post, new { id = "SpecialForm" }))
                {
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-inline">
                        <div class="col-sm-3">
                            <label><strong>Title</strong></label>
                        </div>
                        @Html.TextBoxFor(m => m.newSpecial.SpecialsTitle, new { @class = "form-control col-sm-6" })

                    </div><br />
                    <div class="form-inline">
                        <div class="col-sm-3">
                            <label><strong>Description</strong></label>
                        </div>
                        @Html.TextBoxFor(m => m.newSpecial.SpecialsDescription, new { @class = "form-control col-sm-6", style = "height:150px" })

                    </div><br />
                    <div class="form-inline">
                        <div class="col-sm-3">
                            <label></label>
                        </div>
                        <button class="btn btn-primary">Save</button>
                    </div>
                }<br />
            </div>

        </div>

    </div>
    <br /><br />

    <div class="row" style="width:auto">
        <div class="col">
            <div class="card">
                @foreach (var specials in Model.specials)
                {
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="@Url.Content("~/Images/Special_sign.jpg" )" />
                                </div>
                                <div class="col-sm-9">
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <h4 class="card-title text-lg-left" style="font:bold">@specials.SpecialsTitle</h4>
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-danger">@Html.ActionLink("Delete", "DeleteSpecials", "Admin", new { id = specials.SpecialsID }, new { onclick = "return confirm('Are you sure you wish to delete this item?');" })</button>
                                        </div>
                                    </div>
                                    <p class="card-text text-left">@specials.SpecialsDescription</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#SpecialForm').validate({
                rules: {
                    'newSpecial.SpecialsTitle': {
                        required: true
                    },
                    'newSpecial.SpecialsDescription': {
                        required: true
                    }
                    
                    
                }
            });
        });
    </script>
}