@model GuildCars.UI.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="container">

    <div class="jumbotron" style="background-color:deepskyblue; height:300px">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{
                    int count = 0;
                }

                @foreach (var special in Model.Specials)
                {
                    <div class="carousel-item @(count==0? "active":"")">
                        <h1>@Html.ActionLink(special.SpecialsTitle, "Specials", "Home")</h1>;
                    </div>;
                    count++;
                }

            </div>
        </div>
    </div>
    <hr />
    <h4>Featured Vehicles</h4><br />
    <div class="row" style="width:auto">

        <div class="col">
            <div class="card-deck" id="itemList">
                @foreach (var shortVehicle in Model.FeaturedVehicles)
                {
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card" id="card">
                            <img class="card-img-top" src="@Url.Content("~/Images/" + shortVehicle.VehicleImageFileName)" />

                            <div class="card-body">
                                <p class="card-title text-center">@shortVehicle.VehicleMakeYear @shortVehicle.VehicleMakeDesc @shortVehicle.VehicleModelDesc</p>
                                <p class="card-text text-center">@shortVehicle.VehicleSalePrice.ToString("c")</p>

                            </div>

                        </div>
                    </div>
                }



            </div>
        </div>
    </div>
</div>