@model GuildCars.UI.Models.PurchaseViewModel

@{
    ViewBag.Title = "Purchase";
}

<div class="container">
    <br />
    <h2>Puchase Vehicle</h2>
    
    <div class="container" style="border:solid">
        <div class="row">
            <div class="col-sm-4">
                <p><strong>@Model.VehicleDetails.VehicleMakeYear @Model.VehicleDetails.VehicleMakeDesc @Model.VehicleDetails.VehicleModelDesc</strong></p>
                <img src="@Url.Content("~/Images/" + Model.VehicleDetails.VehicleImageFileName)" />
            </div>
            <div class="col-sm-8">
                <br />
                <table>
                    <tbody>
                        <tr>
                            <td style="width:38%"><strong>Body Style: </strong><text>@Model.VehicleDetails.VehicleBodyTypeDesc </text></td>

                            <td style="width:38%"><strong>Interior: </strong><text>@Model.VehicleDetails.VehicleInteriorColorDesc </text></td>

                            <td style="width:38%"><strong>Sale Price: </strong><text>@Model.VehicleDetails.VehicleSalePrice.ToString("c")</text></td>

                        </tr>
                        <tr>
                            @{
                                var mileage = Model.VehicleDetails.VehicleMileage.ToString();
                                if (Model.VehicleDetails.VehicleTypeDesc == "New")
                                {
                                    mileage = "New";
                                }
                            }
                            <td><strong>Trans: </strong><text>@Model.VehicleDetails.VehicleTransmissionTypeDesc </text></td>
                            <td><strong>Mileage: </strong><text>@mileage </text></td>
                            <td><strong>MSRP: </strong><text>@Model.VehicleDetails.VehicleMSRP</text></td>

                        </tr>
                        <tr>
                            <td><strong>Color: </strong><text>@Model.VehicleDetails.VehicleExteriorColorDesc </text></td>
                            <td><strong>VIN #: </strong><text>@Model.VehicleDetails.VehicleVinNumber </text></td>

                        </tr>
                    </tbody>
                </table>
                <br />
                    <p><strong>Description: </strong>@Model.VehicleDetails.VehicleDescription</p>
            </div>

        </div>
        <br />
    </div>
    <br />
    <h2>Sales Information</h2>
     @using (Html.BeginForm("Purchase", "Sales", FormMethod.Post, new { enctype = "multipart/form-data", id = "SalesForm" }))
          {
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.vehiclePurchaseData.VehicleID);
                @Html.HiddenFor(m => m.VehicleDetails.VehicleMSRP);
                @Html.HiddenFor(m => m.VehicleDetails.VehicleSalePrice);
            <div class="row">
                <div class="form-group col-sm-4">
                    <label><strong>Name</strong></label>
                    @Html.TextBoxFor(m => m.vehiclePurchaseData.CustomerFullName, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-4">
                    <label><strong>Phone</strong></label>
                    @Html.TextBoxFor(m => m.vehiclePurchaseData.CustomerPhoneNumber, new { @class = "form-control" })
                </div>
            </div>
                <div class="form-group">
                    <label><strong>Email</strong></label>
                    @Html.TextBoxFor(m => m.vehiclePurchaseData.CustomerEmailAddress, new { @class = "form-control" })
                </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label><strong>Street 1</strong></label>
                    @Html.TextBoxFor(m => m.vehiclePurchaseData.StreetAddressLine1, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-4">
                    <label><strong>Street 2</strong></label>
                    @Html.TextBoxFor(m => m.vehiclePurchaseData.StreetAddressLine2, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label><strong>City</strong></label>
                    @Html.TextBoxFor(m => m.vehiclePurchaseData.City, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-4">
                     <label><strong>State</strong></label>
                     @Html.DropDownListFor(m => m.vehiclePurchaseData.StateID, Model.states, new { @class = "form-control col-sm-3" })
                </div>
            </div>
                <div class="form-group">
                    <label><strong>ZipCode</strong></label>
                    @Html.TextBoxFor(m => m.vehiclePurchaseData.ZipCode, new { @class = "form-control" })
                </div>
                <hr />
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label><strong>Purchase Price</strong></label>
                        @Html.TextBoxFor(m => m.vehiclePurchaseData.PurchasePrice, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-sm-4">
                        <label><strong>Purchase Type</strong></label>
                        @Html.DropDownListFor(m => m.vehiclePurchaseData.PurchaseTypeID, Model.purchaseTypes, new { @class = "form-control col-sm-6" })
                    </div>
                </div>

                <button class="btn btn-primary">Save</button>
            }
    
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            
            $('#SalesForm').validate({
                rules: {
                    'vehiclePurchaseData.CustomerFullName': {
                        required: true
                    },
                    'vehiclePurchaseData.StreetAddressLine1': {
                        required: true
                    },
                    'vehiclePurchaseData.City': {
                        required: true
                    },
                    'vehiclePurchaseData.StateID': {
                        required: true
                    },
                    'vehiclePurchaseData.ZipCode': {
                        required: true
                    }
                    
                }
            });
        });
    </script>
}