@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
<ul class="nav navbar-nav">
    @if (User.IsInRole("Sales") || User.IsInRole("Admin"))
    {
        <li class="nav-item">
            @Html.ActionLink("Sales", "Index", "Sales", null, new { title = "Sales", @class = "nav-link" })
        </li>
    }
    @if (User.IsInRole("Admin"))
    {
        <li class="dropdown nav-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
                             <ul class="dropdown-menu">
                                 <li>@Html.ActionLink("Vehicles", "Vehicles", "Admin", null, new { @class = "nav-link" })</li>
                                 <li>@Html.ActionLink("Add Vehicle", "AddVehicle", "Admin", null, new { @class = "nav-link" })</li>
                                 <li>@Html.ActionLink("Makes", "Makes", "Admin", null, new { @class = "nav-link" })</li>
                                 <li>@Html.ActionLink("Models", "Models", "Admin", null, new { @class = "nav-link" })</li>
                                 <li>@Html.ActionLink("Specials", "Specials", "Admin", null, new { @class = "nav-link" })</li>
                                 <li>@Html.ActionLink("Users", "Users", "Admin", null, new { @class = "nav-link" })</li>
                                 <li>@Html.ActionLink("Add User", "AddUser", "Admin", null, new { @class = "nav-link" })</li>
                             </ul>
        </li>
        <li class="nav-item">
            @Html.ActionLink("Reports", "Index", "Reports", null, new { title = "Reports", @class = "nav-link" })
        </li>
    }
</ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
       
        <li class="nav-item">
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", null, new { title = "Manage", @class = "nav-link" })
        </li>

        <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

    }
 }
