@model GuildCars.Models.Queries.VehicleLongSearch

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <br />
        <h2>Vehicle Details</h2>
    
    <div class="container" style="border:solid">
        <div class="row">
            <div class="col-sm-4">
                <p><strong>@Model.VehicleMakeYear @Model.VehicleMakeDesc @Model.VehicleModelDesc</strong></p>
                <img src="@Url.Content("~/Images/" + Model.VehicleImageFileName)" />
            </div>
            <div class="col-sm-8">
                <br />
                <table>
                    <tbody>
                        <tr>
                            <td style="width:38%"><strong>Body Style: </strong><text>@Model.VehicleBodyTypeDesc </text></td>

                            <td style="width:38%"><strong>Interior: </strong><text>@Model.VehicleInteriorColorDesc </text></td>

                            <td style="width:38%"><strong>Sale Price: </strong><text>@Model.VehicleSalePrice.ToString("c")</text></td>

                        </tr>
                    <tr>
                        @{
                            var mileage = Model.VehicleMileage.ToString();
                            if (Model.VehicleTypeDesc == "New")
                            {
                                mileage = "New";
                            }
                        }
                        <td><strong>Trans: </strong><text>@Model.VehicleTransmissionTypeDesc </text></td>
                        <td><strong>Mileage: </strong><text>@mileage </text></td>
                        <td><strong>MSRP: </strong><text>@Model.VehicleMSRP</text></td>

                    </tr>
                    <tr>
                        <td><strong>Color: </strong><text>@Model.VehicleExteriorColorDesc </text></td>
                        <td><strong>VIN #: </strong><text>@Model.VehicleVinNumber </text></td>

                    </tr>
                </tbody>
            </table>
            <br />
            <p><strong>Description: </strong>@Model.VehicleDescription</p>
            <div class="align-bottom align-items-sm-end">
                <p class="text-right"><a href=" @Url.Action("Contact","Home",new { id = @Model.VehicleVinNumber})" class="btn btn-primary">Contact Us</a></p>
            </div>
        </div>
        
    </div>
    <br />
    </div>
</div>

